.ProductCard {
  position: relative;
  width: 100px;
  height: 80px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 25px;
  box-shadow: 0px 0px 5px -3px;
  margin: 5px;
  overflow: hidden;
}

.ProductCard img {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
}