.Navbar {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin: 10 auto;
  margin-top: 20px;
}

.Navbar a{
  text-decoration: none;
  color: black;
}

.menu-link-nav, .menu-link-buy, .menu-link-cart {
  transition: 0.2s linear;
}

.menu-link-cart {
  position: relative;
}

.menu-link-cart ruby {
  position: relative;
}

.menu-link-cart ruby > rt {
  font-size: 1.1rem;
  position: absolute;
  margin-top: 10px;
  top: 10px;
  padding-top: 5px;
  margin-right: -20px;
}

.Navbar .menu-link-nav:hover {
  color: orange;
  text-shadow: 0px 0px orange;
  transform: scale(1.1);
}

.navbar-logo-container {
  width: 200px;
}

.navbar-logo-container img {
  width: 100%;
}

.navbar-menu-container {
  width: 60%;
}

.navbar-menu-container ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar-menu-container li{
  list-style-type: none;
}

.navbar-menu-container .menu-link-buy {
  margin-top: -10px;
  padding: 10px 30px;
  background-color: white;
  border-radius: 25px;
  transition: 0.2s linear;
  box-shadow: 0px 0px 2px black;
}

.navbar-menu-container .menu-link-buy:hover {
  background-color: black;
  color: orange;
}

.navbar-menu-container .menu-link-cart {
  position: absolute;
  background-color: black;
  color: orange;
  padding: 10px;
  border-radius: 10px;
  top: -10px;
  right: -40px;
}

.menu-link-cart svg {
  width: 2em;
  height: 2em;
}

.menu-link-cart:hover {
  top: -10px;
  right: -40px;
  background-color: white;
}