.DescriptionProduct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  overflow-y: scroll;
  margin: 0px auto;
  background-color: rgba(255,255,255,0.5);
  border-radius: 25px;
  border: none;
  box-shadow: 0px 0px 5px -2px black;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.DescriptionProduct::-webkit-scrollbar {
  display: none;
}

.description-product-container-one {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin-top: 8vh;
  margin-bottom: 10vh; */
}

.description-product-container-two {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin: 8vh auto; */
}


.description-product-image-container {
  width: 25%;
}

.description-product-image-container img{
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  border-radius: 25px;
  box-shadow: 0px 0px 5px -2px black;
}

.description-product-info-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin: auto 0;
  /* justify-content: space-between; */
  align-items: center;
}

.description-product-button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: orange;
  color: black;
  box-shadow: 0px 0px 5px -2px;
  border-radius: 25px;
  border: none;
  transition: 0.2s linear;
}

.description-product-button:hover {
  background-color: black;
  color: orange;
  transform: scale(1.2);
}
/*
.home-description-container h1 {
  font-size: 3rem;
}

.home-description-title-orange {
  color: orange;
}

.home-description-container h3 {
  font-size: 1.1rem;
  text-align: center;
}

.home-description-container button {
  cursor: pointer;
  background-color: orange;
  border: none;
  border-radius: 25px;
  margin-top: 25px;
  padding: 10px;
  box-shadow: 0px 0px 3px black;
  color: white;
  text-shadow: 0px 0px 1px white;
  transition: 0.2s linear;
  animation: home-button-animation 1s linear infinite;
}

.home-description-container button:hover {
  transform: scale(1.2);
  background-color: black;
  color: orange;
  animation: none;
}

@keyframes home-button-animation {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
*/